.app {
    background: black;
    padding: 0;
}

.component.card {
    background: none;
    color: white;

    & > .component-body {
        padding: 0;
    }
}

h3 {
    font-size: 120%;
    margin-bottom: 0;
}

.react-grid-item > .react-resizable-handle::after {
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}
